*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #3d3646;
    color: #faf3fc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    margin: 20px;
}
#main-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.card {
    background-color: #fdcd65;
    color: #323133;
    width: 250px;
    height: 300px;
    border-radius: 10px;
    padding: 20px;
    line-height: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card h2{
    font-weight: 600;
    font-size: 46px;
    padding-bottom: 20px;
    line-height: 1em;
}

.card p{
    white-space: pre-wrap;
    font-size: 20px;
}

.card label{
    font-size: 20px;
}

.card div{
    padding-top: 10px;
    padding-bottom: 10px;
}

.delete-book{
    height: 50px;
    width: 200px;
    background-color: #3d3646;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 30px;
    border-style: none;
}

.delete-book:hover{
    background-color: transparent;
    color: #323133;
    border: 1px solid #3d3646;
    cursor: pointer;
}

.add-btn{
    height: 50px;
    width: 50px;
    background-color: #ff8271;
    border-radius: 50%;
    border-style: none;
    align-self: flex-start;
    order: 1;
}

.fa-plus{
    color: #3d3646;
}

.fa-plus:hover{
    color: #615670;
}

.add-btn:hover{
    background-color: #fa9f8f;
    cursor: pointer;
}

#modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.popCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #fdcd65;
    color: #323133;
    margin: 3% auto;
    padding: 0 20px 20px 20px;
    border: 1px solid #615670;
    border-radius: 10px;
    width: 20%;
    height: 50%;
}

.popCard h2{
    font-size: 30px;
    font-weight: 600;
}

.toggle{
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=text], input[type=number]{
    background-color: transparent;
    color: #323133;
    border: 2px solid #5d5a5f;
    border-radius: 20px;
    width: 300px;
    height: 40px;
    padding-left: 20px;
}

:focus{
    outline: solid 1px rgb(111, 76, 112);
}

::placeholder{
    color: #323133;
    text-transform: uppercase;
}

.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    border: 2px solid #3d3646;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #3d3646;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
  background-color: #3d3646;
}
  
input:focus + .slider {
  box-shadow: 0 0 1px #3d3646;
}
  
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: white;
}

.add-book{
    height: 50px;
    width: 250px;
    background-color: #3d3646;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 30px;
    border-style: none;
}

.add-book:hover{
    background-color: transparent;
    color: #323133;
    border: 1px solid #3d3646;
    cursor: pointer;
}

.close{
    margin-left: auto;
    height: 50px;
    width: 50px;
    background-color: #ff8271;
    border-radius: 50%;
    border-style: none;
}

.fa-times{
    color: #3d3646;
}

.close:hover{
    background-color: #fa9f8f;
    cursor: pointer;
}